.navbar a{
  color: #777;
}

a {
color: #3498db;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}
h1,h2,h3,h4,.h1,.h2,.h3,.h4 {
  /*font-weight:600;*/
  color: #555;
}
aside form {
  margin-top: 20px;
}
aside ul {
  padding-left: 0px;
}
aside a{
  color: #777;
}
footer {
  background-color: #fff;
  margin-bottom:40px;

  border: 1px solid #dadada;
}

.alignleft{display:inline;float:left;margin-right:1.5em;}
.alignright{display:inline;float:right;margin-left:1.5em;}
.aligncenter{clear:both;display:block;margin:0 auto;}

footer a {
  color: #777;
}
footer ul li {
  margin-right: 10px;
  display: inline;
}
footer ul {
  padding:0px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:center;
}

aside a{vertical-align:middle;}

@media (min-width: 768px) {
    body {
      background: url(/images/clash-of-clans/background.jpg) no-repeat;
      background-position: center top 134px;
    }
}
@media (max-width: 767px) {
    body {
      background-color: #f7f7f7;
    }
}

#main-content{
  margin-top:15px;
  padding-bottom:15px;
}

#content, #sideContent {
background-color: #fff;
border: 1px solid #dadada;
padding: 25px;
margin-bottom:40px;
}

.main a, .main a:hover, .main a:visited {
  color: #2E86C1;
}

.btn-default, .label-default {
    background-color: #3498db;
    border-color: #3498db;
}
.btn.btn-default {
    color: #fff;
    text-transform: uppercase;
}
.btn-default:hover, .label-default[href]:hover, .label-default[href]:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
    background-color: #777;
    border-color: #777;
}

#sideContent p {
    color: #3498db;
    font-weight: 600;
    margin-top:15px;

  }
  #sideContent ul li {
    list-style: none;
    margin-bottom: 10px;
    color:#777;
  }
.navbar {
background-color:#fff;
/*border-bottom: solid 2px #eee;*/
border-bottom: 1px solid #dadada;
margin-bottom: 0px;
}
.navbar-brand {
color: #777;
/*font-weight: 600;*/
font-size:32px;
font-family: Georgia, serif;
}
.navbar-brand span {
color:#3498db;
}
.navbar-brand:hover {
color: #777;
}

.breadcrumbs {
background-color: #f7f7f7;
/*border-bottom: solid 2px #eee;*/
border-bottom: 1px solid #dadada;
}
.breadcrumb {
margin-top:15px;
margin-bottom:15px;
background:none;
}
.breadcrumb a {
color: #777;
}

a:hover {
text-decoration: none;
color: #3498db;
}

.breadcrumb li.active, .breadcrumb li a:hover {
color: #3498db;
}


h1, .h1{font-size:30px;}
h2, .h2{font-size:22px;}
h3, .h3{font-size:18px;}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #fff;
}
.navbar .nav {
font-size: 16px;
}

.navbar-toggle {
border-color: #ddd;
}
.navbar-toggle:hover, .navbar-toggle:focus {
background-color: #ddd;
}
.navbar-toggle .icon-bar {
background-color: #888;
}

.breadcrumb{
padding: 8px 0px;
}
.navbar-brand {

height: auto;
line-height: normal;
}
.navbar-nav>li>a {
padding-top: 0px;
padding-bottom: 0px;
line-height: 68px;
}
.navbar-toggle{
margin-top:17px;
margin-bottom:17px;
}
img {
height: auto;
max-width: 100%;
}

h3, .h3 {
  margin-top: 35px;
  margin-bottom: 10px;
  display:block;
}

#content h2 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
